<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Photography salon 2022</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <!-- font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif; -->
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- slick CSS -->    
    <link rel="stylesheet" href="assets/css/slick.css" type="text/css">
    <link rel="stylesheet" href="assets/css/slick-theme.css" type="text/css">

    <link href="assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header class="page-header">
      <div class="top-header-mobile">
        <ul class="clearfix">
          <li><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a></li>
          <li><a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#RegisterModal">Register</a></li>
        </ul>
      </div>
      <div class="middle-header">
        <div class="container clearfix">      
              
          <div class="logo">
              <a href="index.html"><img src="assets/images/logo.png" class="img-fluid" alt="Dream Photography"></a>
          </div>

          <div class="toggle-menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
  
          <div class="right-header">
            <div class="top-header clearfix">
              <div class="language">
                <i class="fa fa-language" aria-hidden="true"></i>
                <select>
                  <option>Language</option>
                </select>
              </div>
              <div class="login-register">
                <ul class="clearfix">
                  <li><img src="assets/images/my-img.png" alt=""> Alex Jones</li>
                </ul>
              </div>
              <div class="support-logo">
                <ul class="clearfix">
                  <li><a href="#" target="_blank"><img src="assets/images/support-1.png" alt=""></a></li>
                  <li><a href="#" target="_blank"><img src="assets/images/support-2.png" alt=""></a></li>
                  <li><a href="#" target="_blank"><img src="assets/images/support-3.png" alt=""></a></li>
                  <li><a href="#" target="_blank"><img src="assets/images/support-4.png" alt=""></a></li>
                  <li><a href="#" target="_blank"><img src="assets/images/support-5.png" alt=""></a></li>
                </ul>
              </div>
            </div>
            <nav class="nav-primary">
              <ul class="clearfix">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Entry Rules</a></li>
                <li><a href="#">Entry Form</a></li>
                <li><a href="#">Payment</a></li>
                <li><a href="#">Status</a></li>
                <li><a href="#">Results</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <section class="banner-section">
        <div class="banner-img"><img src="assets/images/banner-img.png" alt=""></div>
        <div class="banner-overlay">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="link-page">
                            <ul>
                                <li><a href="#">Home</a> ></li>
                                <li><a href="#">Login</a> ></li>
                                <li>My Account</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="my-account">
                    <div class="my-img">
                        <img src="assets/images/my-img.png" alt="">
                        <div class="edit-img"><a href="#"><img src="assets/images/edit-img.png" class="trigger" alt=""></a></div>
                    </div>
                    <div class="my-details">
                        <h1>Alex Jones</h1>
                        <div class="my-details-row">
                            <div class="my-details-col-left"><span>Gender:</span></div>
                            <div class="my-details-col-right">Male</div>
                        </div>
                        <div class="my-details-row">
                            <div class="my-details-col-left"><span>Mobile No :</span></div>
                            <div class="my-details-col-right">+01 234-567-89</div>
                        </div>
                        <div class="my-details-row">
                            <div class="my-details-col-left"><span>Email Id :</span></div>
                            <div class="my-details-col-right">index@dummy.com</div>
                        </div>
                        <div class="my-details-row">
                            <div class="my-details-col-left"><span>Address :</span></div>
                            <div class="my-details-col-right">52/1 Lorem ipsum73, Dummy place11A, India, Pin-700001</div>
                        </div>
                        <div class="my-details-row">
                            <button class="btn-edi-Profile" data-bs-toggle="modal" data-bs-target="#RegisterModal"><img src="assets/images/edit.png" alt=""> Edit Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contest-box">
        <div class="container">
            <h2>Participle Contest</h2>
            <div class="row">
                <div class="col-sm-4">
                    <div class="contest-box-item h-100 bg1">                        
                        <h5><i class="fa fa-calendar-o" aria-hidden="true"></i> 1 <span>Day</span></h5>
                        <h3>Daily Contest</h3>
                        <div class="contest-box-item-link"><a href="view-details.html" class="btn-edi-Profile">View Details</a></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contest-box-item h-100 bg2">
                        <h5><i class="fa fa-calendar-o" aria-hidden="true"></i> 7 <span>Day</span></h5>
                        <h3>Weekly Contest</h3>
                        <div class="contest-box-item-link"><a href="view-details.html" class="btn-edi-Profile">View Details</a></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contest-box-item h-100 bg3">
                        <h5><i class="fa fa-calendar-o" aria-hidden="true"></i> 30 <span>Day</span></h5>
                        <h3>Monthly Contest</h3>
                        <div class="contest-box-item-link"><a href="view-details.html" class="btn-edi-Profile">View Details</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="my-recent-contest-section">
        <div class="container">
            <h2>My Recent Contest</h2>
            <div class="my-recent-contest">
                <div class="contest-img">
                    <img src="assets/images/contest-img.png" alt="">
                    <div class="edit-img"><a href="#"><img src="assets/images/edit-img.png" alt=""></a></div>
                </div>
                <div class="contest-content">
                    <h3>Daily Contest</h3>                    
                    <div class="contest-wrap">
                        <div class="box">
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Opening Date</div></div>
                                    <div class="col-6"><div class="box-border-right">11/02/2022</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Closing Date</div></div>
                                    <div class="col-6"><div class="box-border-right">11/02/2022</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Opening Time</div></div>
                                    <div class="col-6"><div class="box-border-right">10 am</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Closing Time</div></div>
                                    <div class="col-6"><div class="box-border-right">12 pm</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Entry fee</div></div>
                                    <div class="col-6"><div class="box-border-right"><span class="active">Paid</span></div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Status</div></div>
                                    <div class="col-6"><div class="box-border-right"><span class="active">Active</span></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-recent-contest">
                <div class="contest-img">
                    <img src="assets/images/contest-img.png" alt="">
                    <div class="edit-img"><a href="#"><img src="assets/images/edit-img.png" alt=""></a></div>
                </div>
                <div class="contest-content">
                    <h3>Daily Contest</h3>                    
                    <div class="contest-wrap">
                        <div class="box">
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Opening Date</div></div>
                                    <div class="col-6"><div class="box-border-right">11/02/2022</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Closing Date</div></div>
                                    <div class="col-6"><div class="box-border-right">11/02/2022</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Opening Time</div></div>
                                    <div class="col-6"><div class="box-border-right">10 am</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Closing Time</div></div>
                                    <div class="col-6"><div class="box-border-right">12 pm</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Entry fee</div></div>
                                    <div class="col-6"><div class="box-border-right"><span><a href="payment-now.html">Pay Now</a></span></div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Status</div></div>
                                    <div class="col-6"><div class="box-border-right"><span class="inactive">In Active</span></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-recent-contest">
                <div class="contest-img">
                    <img src="assets/images/contest-img.png" alt="">
                    <div class="edit-img"><a href="#"><img src="assets/images/edit-img.png" alt=""></a></div>
                </div>
                <div class="contest-content">
                    <h3>Daily Contest</h3>                    
                    <div class="contest-wrap">
                        <div class="box">
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Opening Date</div></div>
                                    <div class="col-6"><div class="box-border-right">11/02/2022</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Closing Date</div></div>
                                    <div class="col-6"><div class="box-border-right">11/02/2022</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Opening Time</div></div>
                                    <div class="col-6"><div class="box-border-right">10 am</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Closing Time</div></div>
                                    <div class="col-6"><div class="box-border-right">12 pm</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Entry fee</div></div>
                                    <div class="col-6"><div class="box-border-right"><span class="active">Paid</span></div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Status</div></div>
                                    <div class="col-6"><div class="box-border-right"><span class="active">Active</span></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <h2>My Past Contest</h2>
            <div class="my-recent-contest">
                <div class="contest-img">
                    <img src="assets/images/contest-img.png" alt="">
                    <div class="edit-img"><a href="#"><img src="assets/images/edit-img.png" alt=""></a></div>
                </div>
                <div class="contest-content">
                    <h3>Daily Contest</h3>                    
                    <div class="contest-wrap">
                        <div class="box">
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Opening Date</div></div>
                                    <div class="col-6"><div class="box-border-right">11/02/2022</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Closing Date</div></div>
                                    <div class="col-6"><div class="box-border-right">11/02/2022</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Opening Time</div></div>
                                    <div class="col-6"><div class="box-border-right">10 am</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Closing Time</div></div>
                                    <div class="col-6"><div class="box-border-right">12 pm</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Entry fee</div></div>
                                    <div class="col-6"><div class="box-border-right"><span class="active">Paid</span></div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Status</div></div>
                                    <div class="col-6"><div class="box-border-right"><span class="active">Active</span></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-recent-contest">
                <div class="contest-img">
                    <img src="assets/images/contest-img.png" alt="">
                    <div class="edit-img"><a href="#"><img src="assets/images/edit-img.png" alt=""></a></div>
                </div>
                <div class="contest-content">
                    <h3>Daily Contest</h3>                    
                    <div class="contest-wrap">
                        <div class="box">
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Opening Date</div></div>
                                    <div class="col-6"><div class="box-border-right">11/02/2022</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Closing Date</div></div>
                                    <div class="col-6"><div class="box-border-right">11/02/2022</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Opening Time</div></div>
                                    <div class="col-6"><div class="box-border-right">10 am</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Closing Time</div></div>
                                    <div class="col-6"><div class="box-border-right">12 pm</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Entry fee</div></div>
                                    <div class="col-6"><div class="box-border-right"><span><a href="payment-now.html">Pay Now</a></span></div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Status</div></div>
                                    <div class="col-6"><div class="box-border-right"><span class="inactive">In Active</span></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-recent-contest">
                <div class="contest-img">
                    <img src="assets/images/contest-img.png" alt="">
                    <div class="edit-img"><a href="#"><img src="assets/images/edit-img.png" alt=""></a></div>
                </div>
                <div class="contest-content">
                    <h3>Daily Contest</h3>                    
                    <div class="contest-wrap">
                        <div class="box">
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Opening Date</div></div>
                                    <div class="col-6"><div class="box-border-right">11/02/2022</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Closing Date</div></div>
                                    <div class="col-6"><div class="box-border-right">11/02/2022</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Opening Time</div></div>
                                    <div class="col-6"><div class="box-border-right">10 am</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Closing Time</div></div>
                                    <div class="col-6"><div class="box-border-right">12 pm</div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Entry fee</div></div>
                                    <div class="col-6"><div class="box-border-right"><span class="active">Paid</span></div></div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="row">
                                    <div class="col-6"><div class="box-border">Status</div></div>
                                    <div class="col-6"><div class="box-border-right"><span class="active">Active</span></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contest-list">
        <div class="container">
            <h2>My Total Contest List</h2>
            <div class="contest-list-box">
                <div class="contest-list-first">
                    <ul>
                        <li class="bgF1">
                            <p>Total Contest</p>
                            <h4>52</h4>
                        </li>
                        <li class="bgF2">
                            <p>Total Win</p>
                            <h4>20</h4>
                        </li>
                        <li class="bgF3">
                            <p>TAmount won</p>
                            <h4>$520</h4>
                        </li>
                    </ul>
                </div>
                <div class="contest-list-box-item">
                    <img src="assets/images/icon-daily1.png" alt="">
                    <h3>Daily Contest</h3>
                    <div class="total-contest-row">
                        <div class="total-contest-col">Total Contest <span class="win-color">17</span></div>
                        <div class="total-contest-col-right">Total Win <span class="contest-color">04</span></div>
                    </div>
                </div>
                <div class="contest-list-box-item">
                    <img src="assets/images/icon-daily2.png" alt="">
                    <h3>Weekly Contest</h3>
                    <div class="total-contest-row">
                        <div class="total-contest-col">Total Contest <span class="win-color">22</span></div>
                        <div class="total-contest-col-right">Total Win <span class="contest-color">40</span></div>
                    </div>
                </div>
                <div class="contest-list-box-item">
                    <img src="assets/images/icon-daily3.png" alt="">
                    <h3>Monthly Contest</h3>
                    <div class="total-contest-row">
                        <div class="total-contest-col">Total Contest <span class="win-color">19</span></div>
                        <div class="total-contest-col-right">Total Win <span class="contest-color">10</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery-section">
        <div class="container">
            <h2>My Image Gallery</h2>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="gallery">
                        <div class="gallery-img"><img src="assets/images/gallery-img.png" alt=""></div>
                        <div class="gallry-bottom">
                            <h3>Daily Contest</h3>
                            <div class="galler-row">
                                <div class="gallery-left">Date Of Contest</div>
                                <div class="gallery-right">30/01/22</div>
                            </div>                            
                            <div class="galler-row">
                                <div class="gallery-left">Total Participants</div>
                                <div class="gallery-right">120</div>
                            </div>                         
                            <div class="galler-row">
                                <div class="gallery-left">Your Rank</div>
                                <div class="gallery-right">07</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="gallery">
                        <div class="gallery-img"><img src="assets/images/gallery-img2.png" alt=""></div>
                        <div class="gallry-bottom">
                            <h3>Daily Contest</h3>
                            <div class="galler-row">
                                <div class="gallery-left">Date Of Contest</div>
                                <div class="gallery-right">30/01/22</div>
                            </div>                            
                            <div class="galler-row">
                                <div class="gallery-left">Total Participants</div>
                                <div class="gallery-right">120</div>
                            </div>                         
                            <div class="galler-row">
                                <div class="gallery-left">Your Rank</div>
                                <div class="gallery-right">07</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="gallery">
                        <div class="gallery-img"><img src="assets/images/gallery-img-3.png" alt=""></div>
                        <div class="gallry-bottom">
                            <h3>Daily Contest</h3>
                            <div class="galler-row">
                                <div class="gallery-left">Date Of Contest</div>
                                <div class="gallery-right">30/01/22</div>
                            </div>                            
                            <div class="galler-row">
                                <div class="gallery-left">Total Participants</div>
                                <div class="gallery-right">120</div>
                            </div>                         
                            <div class="galler-row">
                                <div class="gallery-left">Your Rank</div>
                                <div class="gallery-right">07</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="gallery">
                        <div class="gallery-img"><img src="assets/images/gallery-img2.png" alt=""></div>
                        <div class="gallry-bottom">
                            <h3>Daily Contest</h3>
                            <div class="galler-row">
                                <div class="gallery-left">Date Of Contest</div>
                                <div class="gallery-right">30/01/22</div>
                            </div>                            
                            <div class="galler-row">
                                <div class="gallery-left">Total Participants</div>
                                <div class="gallery-right">120</div>
                            </div>                         
                            <div class="galler-row">
                                <div class="gallery-left">Your Rank</div>
                                <div class="gallery-right">07</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="gallery">
                        <div class="gallery-img"><img src="assets/images/gallery-img-3.png" alt=""></div>
                        <div class="gallry-bottom">
                            <h3>Daily Contest</h3>
                            <div class="galler-row">
                                <div class="gallery-left">Date Of Contest</div>
                                <div class="gallery-right">30/01/22</div>
                            </div>                            
                            <div class="galler-row">
                                <div class="gallery-left">Total Participants</div>
                                <div class="gallery-right">120</div>
                            </div>                         
                            <div class="galler-row">
                                <div class="gallery-left">Your Rank</div>
                                <div class="gallery-right">07</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="gallery">
                        <div class="gallery-img"><img src="assets/images/gallery-img.png" alt=""></div>
                        <div class="gallry-bottom">
                            <h3>Daily Contest</h3>
                            <div class="galler-row">
                                <div class="gallery-left">Date Of Contest</div>
                                <div class="gallery-right">30/01/22</div>
                            </div>                            
                            <div class="galler-row">
                                <div class="gallery-left">Total Participants</div>
                                <div class="gallery-right">120</div>
                            </div>                         
                            <div class="galler-row">
                                <div class="gallery-left">Your Rank</div>
                                <div class="gallery-right">07</div>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="col-md-8"><p>&copy; Copyright Dream Photography. All Rights Reserved</p></div>
            </div>
        </div>
    </footer>

    <!-- Modal -->
<div class="modal fade login-from" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        
          <div class="model-flex">
            <div class="model-logo">
              <div><img src="assets/images/logo.png" class="img-fluid" alt="Dream Photography"></div>
            </div>
            <div class="modal-body">
              <div class="modal-form-inner">
                <h3>Login to your Account</h3>
                <form action="my-account.html">
                  <div class="form-col">
                    <input type="email" placeholder="Email">
                  </div>
                  <div class="form-col">
                    <input type="password" placeholder="Password">
                  </div>
                  <div class="form-col">
                    <input type="submit" value="login">
                    <p><a href="#">Forgotten password?</a></p>
                  </div>
  
                </form>
              </div>
            </div>
          </div>
  
      </div>
    </div>
  </div>
  
  <div class="modal fade login-from" id="RegisterModal" tabindex="-1" aria-labelledby="RegisterModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="model-flex">
            <div class="model-logo">
              <div><img src="assets/images/logo.png" class="img-fluid" alt="Dream Photography"></div>
            </div>
        <div class="modal-body">
          <div class="modal-form-inner">
          <h3>Creat Account</h3>
          <form action="my-account.html">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-col">
                  <input type="text" placeholder="First Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-col">
                  <input type="text" placeholder="last Name">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-col">
                  <input type="text" placeholder="Address">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-col">
                  <select>
                    <option>Country</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-col">
                  <input type="text" placeholder="Zip Code">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-col">
                  <input type="tel" placeholder="Mobile No">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-col">
                  <input type="email" placeholder="Email Id">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-col">
                  <input type="text" placeholder="User Name">
                </div>
              </div>
              
              <div class="col-sm-12">
                <div class="form-col">
                  <input type="password" name="password" id="password" placeholder="password" />
                  <div class="pass-icon" id="togglePassword">
                    <img src="assets/images/eye.png" alt="">
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-col">
                  <input type="password" name="confirm-password" id="password1" placeholder="Confirm Password">
                  <div  class="pass-icon" id="togglePassword1">
                    <img src="assets/images/eye.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-col">
              <input type="submit" value="Creat Account">
              <p>Already have an Account? <a href="#">login</a></p>
            </div>
          </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

    <script src="assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="assets/js/slick.min.js" type="text/javascript"></script>
    <script src="assets/js/custom.js" type="text/javascript"></script>
   
  </body>
</html>
